<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Xenon sports</title>

        <!-- <link rel="stylesheet" href="/css/app.css"> -->

    </head>
    <body>

        <div id="wrapper">
            body template
        </div>

        <a href="/auth/facebook">Sign in with Facebook</a>
        <br></br>
        <a href="/auth/github">Sign in with Github</a>


    </body>
</html>
