node_modules/*
static/*
.cache/*
.beans/*
log/*
target/*
npm-debug.log
generated-layouts/*
generated-layouts/*.marko
generated-layouts/*.js
template.marko.js
*.marko.js
*.log
restarts_*
validation-status.json
coverage/*
gh-pages/*
.test/*
*.html
generated/*
phantomas/
jsonCov/
checkstyle.xml
.telemetry.json
