

.signin {
  color: red;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 25px;
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;

  .info {
    margin-bottom: 15px;
  }
}
